.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, banner-principal h5, .banner-principal h6 
  color: #000
.titulo-principal.color-acento-contenido .titulo-principal__numero span 
    color: #FFFF
.titulo-principal.color-acento-contenido .titulo-principal__numero 
  background-color: #E2C140
.contenedor-total
  position: relative
  width: 100%
  padding-bottom: 8rem
.pRelative
  position: relative
.backtoTop
  width: 65px
  position: relative
  top: rem
  float: right
.pRelative_1
  position: relative
  margin-inline-end:  -0.8rem
  margin-top: -2rem
.backtoTop_1
  width: 105px
  position: relative
  top: -2rem
  float: right
  margin-bottom: 1rem
.floatRight
  float: right
.contenedor
  padding-left: 3rem
  padding-right: 3rem
  margin-left: -3rem
  margin-right: -3rem
.contenedor-text
  position: absolute
  bottom: 0%
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  width: 88%
  height: 140px
  background-size: cover
  background-image: url('../assets/curso/images/tema1/back_intro.svg')
  //filter: drop-shadow(2px 4px 6px grey)
  display: flex
  align-items: center
  justify-content: center
  border-radius: 20px
  @media (max-width: 992px)
    position: relative
    padding: 1rem
    left: 50%
    height: auto
    transform: translateX(-50%) translateY(0%)
.fondo-1
  background-image: url('../assets/curso/images/tema1/back_1.svg')
  background-position: center
  background-size: 100%
  margin-inline-start: -30px
  padding: 2.5rem
.fondo-2
  background-image: url('../assets/curso/images/tema1/back_2.svg')
  background-position: center
  background-size: 100%
  margin-inline-start: -30px
  padding: 2.5rem
  margin-top: 1rem
.fondo-3
  background-image: url('../assets/curso/images/tema1/back_5.svg')
  background-position: center
  background-size: 100%
  margin-inline-start: -47px
  margin-inline-end: -50px
  padding: 1.0rem
.fondo-4
  background-image: url('../assets/curso/images/tema1/back_4.svg')
  background-position: center
  background-size: 121%
  padding: 1.0rem
.fondo-5
  background-image: url('../assets/curso/images/tema1/back_7.svg')
  background-position: center
  background-size: 100%
  padding: 1.0rem
.fondo-6
  background-image: url('../assets/curso/images/tema1/back_9.svg')
  background-position: center
  background-size: 100%
  margin-inline-start: -50px
  margin-inline-end: -50px
  padding: 1.0rem
.fondo-7
  background-image: url('../assets/curso/images/tema1/back_10.svg')
  background-position: center
  background-size: 100%
  margin-inline-start: -50px
  margin-inline-end: -50px
  padding: 1.0rem
.fondo-8
  background-image: url('../assets/curso/images/tema1/back_10.svg')
  background-position: center
  background-size: 100%
  margin-inline-start: -50px
  margin-inline-end: -50px
  padding: 1.0rem
.fondo-9
  background-image: url('../assets/curso/images/tema1/back_7.svg')
  background-position: center
  background-size: 100%
  margin-inline-start: -50px
  margin-inline-end: -50px
  padding: 1.0rem
.fondo-10
  background-image: url('../assets/curso/images/tema1/back_slyder.svg')
  background-position: center
  background-size: 130%
.fondo-11
  background-image: url('../assets/curso/images/tema1/back_1.svg')
  background-position: center
  background-size: 150%
  margin-inline-start: -30px
  padding: 1.5rem
.fondo-12
  background-image: url('../assets/curso/images/tema2/back_2_2.svg')
  background-position: center
  background-size: 150%
  margin-inline-start: -30px
  padding: 1.5rem
.fondo-13
  background-image: url('../assets/curso/images/tema2/back_1_1.svg')
  background-position: center
  background-size: 150%
  margin-inline-start: -30px
  padding: 1.5rem
.fondo-14
  background-image: url('../assets/curso/images/tema1/back_5.svg')
  background-position: center
  background-size: 100%
  padding: 1.0rem
.fondo-15
  background-image: url('../assets/curso/images/tema1/back_1.png')
  background-position: center
  background-size: 100%
  padding: 5.0rem
  display: flex
  align-items: center
  justify-content: center
  border-radius: 20px
  @media (max-width: 992px)
    position: absolute
    padding: 1rem
    left: 50%
    height: auto
    transform: translateX(1000rem) translateY(0%)
.fondo-16
  background-image: url('../assets/curso/images/tema1/back_17.png')
  background-position: center
  background-size: 100%
  padding: 4.0rem
  display: flex
  align-items: center
  justify-content: center
  border-radius: 20px
  @media (max-width: 992px)
    position: absolute
    padding: 1rem
    left: 50%
    height: auto
    transform: translateX(1000rem) translateY(0%)
.fondo-17
  background-image: url('../assets/curso/images/tema1/back_16.png')
  background-position: center
  background-size: 95%
  padding: 1.0rem
  display: flex
  align-items: center
  justify-content: center
  border-radius: 20px
  @media (max-width: 992px)
    position: absolute
    padding: 1rem
    left: 50%
    height: auto
    transform: translateX(1000rem) translateY(0%)
.fondo-18
  background: linear-gradient(274deg, rgba(33,62,100,1) 0%, rgba(128,145,167,1) 79%, rgba(255,255,255,1) 100%)
  background-position: center
  margin-inline-start: 40px
.fcs
  background-color: #F3F3F3 !important
i.cac 
  color: #ffa726 !important
.titulo-segundo::after 
  content: ''
  display: block
  height: 3px
  width: 140px
  border-left: solid 50px
    border-left-color: currentcolor
  border-left-color: #E2C140
  background-color: #e8e8e8
.color-custom
	background-color: #EBDEAC 
	&::before
		background-color: #E2C140
.color-custom-1
	background-color: #12263F 
	&::before
		background-color: #F6F6F6
.color-custom-2
 background-color:#D2E1F1
.color-custom-3
	background-color: #A1ACB1
	&::before
		background-color: #12263F  
.color-custom-4
	background-color: #F6F6F6
	&::before
		background-color: #12263F 
.linea-tiempo-d.color-secundario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
    background-color: #F7F2DE
.linea-tiempo-d__item__content__title
		background-color: #F7F2DE
.linea-tiempo-d__item__content
  background-color: #F7F2DE
.bloque-texto-a.color-secundario 
  background-color: #F6F6F6
.tp
  background-color: #E8E8E8
.slyder-a__bullets__item--active 
  background-color: #E2C140
  border-color: #727997
  opacity: 1
.tarjeta--sencilla
  border-radius: 50px
  position: relative
  width: 220px
  background-color: #4DD0E1
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1)
//CARD TOP LINE
.crd
  padding: 1rem

.crd--topLine   
  min-height: 290px !important
  max-width: 219px 
  background-color: white  
  //border-top-right-radius: 12px
  //border-top-left-radius: 12px  
  //-webkit-box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.35)
  //box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.35)
  @media (max-width: 992px)
    max-width: 320px
.crd--topLine_green
  border-bottom: 7px solid #4DD0E1
.crd--topLine 
  min-height: 290px !important
  max-width: 419px
  background-color: white
  border-bottom: 7px solid #575757
//end CARD TOP LINE
.bg-color
  padding: 7px
  background-color: #12263F
.bg-color-1
  padding: 6px
  background-color: #039BE5
.bg-color-2
  padding: 6px
  background-color: #FF2C9C
.tarjeta--azul
  background-color: #2A81A5
  border-top-left-radius: 10px
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px
  height: 210px
  width: 500px
.tarjeta-violeta
  background-color: #FF2C9C !important
  border-top-left-radius: 10px
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px
  height: 210px
  width: 500px
.text-alinear
  text-align: justify
.tarjeta-blanca
  background-color: #FFF !important
  border-top-left-radius: 10px
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px
  height: 255px
  width: 500px
.tarjeta-blanca-1
  background-color: #FFF !important
  border-top-left-radius: 10px
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px
  height: 445px
  width: 450px
.tarjeta-blanca-2
  background-color: #FFF !important
  border-top-left-radius: 10px
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px
  height: 235px
  width: 620px
.highlight
  background-color: $color-acento-contenido
.highlight-1
  background-color: #039BE5
  color: #fff
  padding: 7px



